{% extends "base.html" %}

{% block title %}Loans{% endblock %}
{% block page_title %}Loans{% endblock %}

{% block content %}

<table class="table-custom">
  <thead>
    <tr>
      <th>Loan Type</th>
      <th>Amount</th>
      <th>Interest Rate</th>
      <th>Start Date</th>
    </tr>
  </thead>

  <tbody>
    {% for loan in loans %}
    <tr>
      <td>{{ loan.loan_type }}</td>
      <td>₹{{ loan.loan_amount }}</td>
      <td>{{ loan.interest_rate }}%</td>
      <td>{{ loan.start_date }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}