{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block page_title %}Register{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

<!-- {% block scripts  %} -->
<script>
  document.getElementById("registerForm").addEventListener("submit", async function (e) {
    e.preventDefault(); // stop normal form submit

    console.log("clicked submit button");

    const formData = {
        first_name: document.querySelector("[name='first_name']").value,
        last_name: document.querySelector("[name='last_name']").value,
        email: document.querySelector("[name='email']").value,
        date_of_birth: document.querySelector("[name='date_of_birth']").value,
        password: document.querySelector("[name='password']").value,
        confirm_password: document.querySelector("[name='confirm_password']").value
    };

    console.log(formData)

    const response = await fetch("/api/register", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(formData)
    });

    const data = await response.json();

    const msgBox = document.getElementById("message-box");

    if (response.ok) {
        // success message
        msgBox.innerHTML = `
            <div class="flash-message flash-success">
                ${data.message || "User created successfully"}
            </div>
        `;

        // redirect after short delay
        setTimeout(() => {
            window.location.href = "/login";
        }, 800);

    } else {
        // error message
        msgBox.innerHTML = `
            <div class="flash-message flash-error">
                ${data.error || "Something went wrong"}
            </div>
        `;
    }
});
</script>
<!-- {% endblock %} -->

{% block content %}
<div class="auth-container">
  <div class="auth-title">
    <h1>Register</h1>
    <p>Sign up to start using Personal Finance Tracker</p>
  </div>
  <div class="form-container">

    <form id="registerForm" class="form-box">

      <div id="message-box"></div>

      <div class="input-group">
        <label>First Name</label>
        <input type="text" name="first_name" placeholder="Enter your first name" required>
      </div>

      <div class="input-group">
        <label>Last Name</label>
        <input type="text" name="last_name" placeholder="Enter your last name" required>
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="input-group">
        <label>Date of Birth</label>
        <input type="date" name="date_of_birth" required>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Create a password" required>
      </div>

      <div class="input-group">
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm your password" required>
      </div>

      <button id="submitButton" type="submit" class="btn">
        Register
      </button>

      <div class="auth-footer">
        Already Registered?
        <a href="{{ url_for('login') }}">Login here</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}