{% extends "base.html" %}

{% block title %}Subscriptions{% endblock %}
{% block page_title %}Subscriptions{% endblock %}

{% block content %}

<div class="tbl">
  <table>
    <thead>
      <tr>
        <th>Service</th>
        <th>Fee</th>
        <th>Next Due</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for sub in subscriptions %}
      <tr>
        <td>{{ sub.service_name }}</td>
        <td>AED {{ sub.monthly_fee }}</td>
        <td>{{ sub.next_due_date }}</td>
        <td>
          <span class="status {{ sub.status | lower }}">
            {{ sub.status }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}